/*.bin
/*.cache
/*.hfst
/*.in
/*.log
/*.mode
/*.ol
/*.status
/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/config
/configure
dev/gtsvn
/install-sh
/missing
/modes
/stamp-h1
/*.gz
/*.pc
/*.zhfst
/.DS_Store
/ap_include.am
/autom4te.cache
/config.log
/config.status
/*-*.prob
/config.in
/test/*-output.txt
