* text=auto !eol
/AUTHORS -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/QUESTIONS -text
/README -text
/apertium-sme-fin.fin-sme.t1x -text
/apertium-sme-fin.fin-sme.t2x -text
/apertium-sme-fin.fin-sme.t3x -text
/apertium-sme-fin.sme-fin.dix -text
/apertium-sme-fin.sme.lexc -text
/apertium-sme-fin.sme.twol -text
/autogen.sh -text
/configure.ac -text
corp/line_phrases.sql -text
corp/open_tran_-_fin_sme.txt -text
corp/processed.txt -text
corp/sentences -text
corp/teakstta.txt -text
dev/bidix/A.lex -text
dev/bidix/A.lex.orig -text
dev/bidix/Adv.lex -text
dev/bidix/Adv.lex.orig -text
dev/bidix/Conj.lex -text
dev/bidix/Conj.lex.orig -text
dev/bidix/Makefile -text
dev/bidix/N.Prop.lex -text
dev/bidix/N.Prop.lex.orig -text
dev/bidix/N.lex -text
dev/bidix/N.lex.orig -text
dev/bidix/Po.lex -text
dev/bidix/Po.lex.orig -text
dev/bidix/Pron.lex -text
dev/bidix/Pron.lex.orig -text
dev/bidix/V.lex -text
dev/bidix/V.lex.orig -text
dev/bidix/calc-levenshtein.py -text
dev/countries.txt -text
dev/fin.cfg -text
dev/langs.cfg -text
dev/scripts/apertium.py -text
dev/scripts/debug.py -text
dev/update-lexc.py -text
dev/update-lexc.sh -text
dev/uppercase-first.twol -text
dev/xfst2apertium.hashtags.twol -text
dev/xfst2apertium.relabel -text
dev/xfst2apertium.useless.generation.twol -text
/fin-sme.prob -text
/lexchoicebil.xsl -text
/modes.xml -text
/pending-tests.sh -text
/script.sh -text
tools/lookup2cg -text
